footer {
    background-color: #001931;
    color: white;
    padding: 120px 120px 30px 120px;
}

.footer-content {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-social h3 {
    font-weight: 500;
    font-size: 20px;
}

.footer-social i {
    margin-right: 16px;
}

.copy-right {
    text-align: center;
}